<!DOCTYPE html>
<html>
<head>
    <title>Messagerie Chiffrée</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1><img src="/static/logo.png" class="logo" />Secure Messenger</h1>
    <form id="msgForm">
        <input type="text" id="sender" placeholder="Expéditeur" required><br>
        <input type="text" id="receiver" placeholder="Destinataire" required><br>
        <textarea id="message" placeholder="Votre message"></textarea><br>
        <button type="submit">Envoyer</button>
    </form>
     <footer>
        <p>&copy; 2025 Secure Messenger</p>
        <p>Made By Salim4dev</p>
    </footer>
    <script src="/static/script.js"></script>
</body>
</html>